<div class="logo">
  {{#link-to 'app.bots.settings' data}}
    <img srcset="{{data.logo}} 1x, {{data.logo}} 1.5x, {{data.logo}} 2x"
      src={{data.logo}} width="50" height="50" alt="bot image">
  {{/link-to}}
</div>

<div class="name">
  {{data.name}}
</div>

<div class="social-networks-connected">
  <div>
    <label for={{telegramBotId}}>
      <span class="hidden">
        telegram
      </span>
      {{svg-icon name="telegram" colour=(if data.telegram "#0088cc" "#ccc") width="20" height="20"}}
    </label>

    <div class="hidden">
      {{input
        type="checkbox"
        name=telegramBotId
        id=telegramBotId
        checked=data.telegram
        change=(action 'toggleTelegram')
      }}
    </div>
  </div>
</div>

{{yield}}
