<div class="logo">
  <img srcset="{{data.logo}} 1x, {{data.logo}} 1.5x, {{data.logo}} 2x"
    src={{data.logo}} width="50" height="50" alt="bot image">
</div>

<div class="name">
  {{data.name}}
</div>

<div class="social-networks-connected">
  <div>
    <label class="hidden" for="telegram_bot_{{data.id}}">telegram</label>
    <input type="checkbox" name="telegram_bot_{{data.id}}" id="telegram_bot_{{data.id}}" checked={{data.telegram}}>
  </div>
</div>

{{yield}}