{{#link-to 'app.bots.settings' data class="bot-details-link"}}
  {{bot-logo data=data _size="50"}}
{{/link-to}}

<div class="name">
  {{data.name}}

  <span class="categories-count">
    {{data.categories.length}}
  </span>
</div>


<div class="social-networks-connected">
  <div>
    <label for={{telegramBotId}}>
      <span class="hidden">
        telegram
      </span>
      {{svg-icon name="telegram" colour=(if data.telegram "#0088cc" "#ccc") width="20" height="20"}}
    </label>

    <div class="hidden">
      {{input
        type="checkbox"
        name=telegramBotId
        id=telegramBotId
        checked=data.telegram
        change=(action 'toggleTelegram')
      }}
    </div>
  </div>

  <div>
    <label for={{whatsupBotId}}>
      <span class="hidden">
        whatsup
      </span>
      {{svg-icon name="whatsup" colour=(if data.whatsup "#25D366" "#ccc") width="20" height="20"}}
    </label>

    <div class="hidden">
      {{input
        type="checkbox"
        name=whatsupBotId
        id=whatsupBotId
        checked=data.whatsup
        change=(action 'toggleWhatsup')
      }}
    </div>
  </div>
</div>

{{yield}}
