{{index/front-banner}}

{{!-- <div class="center-wrapper"> --}}
    <div class="features">
        {{index/feature-item
            title=(t 'index.feature.header.fast_reliable')
            subtitle=(t 'index.feature.subtitle.aws_under_hood')
            content=(t 'index.feature.content.aws_content')
        }}

        {{index/feature-item
            title=(t 'index.feature.header.customizable')
            subtitle=(t 'index.feature.subtitle.one_panel')
            content=(t 'index.feature.content.manage_bots_from_admin')
        }}

        {{index/feature-item
            title=(t 'index.feature.header.smart')
            subtitle=(t 'index.feature.subtitle.alice_granny')
            content=(t 'index.feature.content.aiml_base')
        }}

        {{index/feature-item
            title=(t 'index.feature.header.multilingual')
            subtitle=(t 'index.feature.subtitle.easy_to_expand')
            content=(t 'index.feature.content.multilingual')
        }}

        {{index/feature-item
            title=(t 'index.feature.header.free')
            subtitle=(t 'index.feature.subtitle.manage_bots_from_admin')
            content=(t 'index.feature.content.free')
        }}
    </div>
{{!-- </div> --}}

<div class="try-for-free">
    <div class="center-wrapper">
        {{index/try-for-free}}
    </div>
</div>

{{outlet}}