{{index/front-banner}}

{{!-- <div class="center-wrapper"> --}}
    <div class="features">
        {{index/feature-item
            title='Fast&nbsp;&amp;&nbsp;Reliable'
            subtitle='AWS engine under the hood'
            content='Amazon Web Services power guarantees your bots will always be alive and ready for action.'
        }}

        {{index/feature-item
            title='Customizable'
            subtitle="One panel to rule them all"
            content='You can easily create bot scripts through web app. No programming skills needed.'
        }}

        {{index/feature-item
            title='Smart'
            subtitle='ALICE is my granny'
            content='We use the same techs as Loebner award-winning bots. Thats not a joke.'
        }}

        {{index/feature-item
            title='Multilingual'
            subtitle='Easy to Expand'
            content='Clients always prefer native speaker wizards. Use built in localization system to improve your conversion dramatically.'
        }}

        {{index/feature-item
            title='Free'
            subtitle='No credit card required'
            content='You can calmly grow up your bot baby without worrying about the money. Happy bots will build our future.'
        }}
    </div>
{{!-- </div> --}}

<div class="try-for-free">
    <div class="center-wrapper">
        {{index/try-for-free}}
    </div>
</div>

{{outlet}}